{% load ranking_tags %}
<!-- moves tab -->    
<div class="detail-tab" tab="moves">
    <div class="detail-section float margin">
    <!-- fast move section -->  
        <div class="ranking-header">Fast Moves</div>
        <div class="moveset fast clear">
            {% for fast_move in fast_moves %}
                {% get_fast_move_info fast_move pokemon as info%}
                <div class="move-detail-template rank {{fast_move.type}}"
                    data="{{fast_move.move_id}}" 
                    _="init add .selected when {{moveset}} contains my [@data]
                    on click call event.preventDefault()">
                        
                    <div class="name-container flex">
                        <span id="move" class="name">{{info.name}}</span>
                        <span class="archetype"><span class="name">{{fast_move.archetype}}</span><span class="icon {{fast_move.archetype_class}}"></span></span>
                    </div>
                    <div class="stats-container name-container flex">
                        <div class="dpt"><b class="value">{{info.dpt}}</b> dpt</div>
                        <div class="ept"><b class="value">{{info.ept}}</b> ept</div>
                        <div class="turns"><b class="value">{{info.turns}}</b> turns</div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="rank selected recommended">Recommended move</div>
        <div class="footnote">
            * Event or Elite TM exclusive<br>
            <sup>†</sup> Unobtainable via TM<br><br>
            <div>Move stats include same type and Shadow attack bonuses.</div>
        </div>
    </div>
    <div class="detail-section float">
        <div class="ranking-header">Charged Moves</div>
        <div class="moveset charged clear">
            <div class="move-detail-template rank hide">
                <div class="name-container flex">
                    <span class="name">Counter</span>
                    <span class="archetype"><span class="name"></span><span class="icon"></span></span>
                </div>
                <div class="stats-container name-container flex">
                    <div class="damage"><b class="value">0</b> damage</div>
                    <div class="energy"><b class="value">0</b> energy</div>
                    <div class="dpe"><b class="value">0</b> dpe</div>
                </div>
                <div class="stats-container name-container move-effect flex"></div>
                <div class="stats-container name-container move-count"><div>Fast Move Count: <span></span></div></div>
            </div>
        </div>
    </div>