{% if rankings.has_next %}
    <div id="target" 
        hx-get="?page={{rankings.next_page_number}}" 
        hx-trigger="intersect once"
        hx-target="#target"
        hx-swap="beforeend">
        {% for pokemon in rankings %}
            {% comment %} {% ranking_item pokemon rankings.start_index forloop.counter %}     {% endcomment %}
        {% endfor %}
    </div>
{% else %}
    {% for pokemon in rankings %}
        {% comment %} {% ranking_item pokemon rankings.start_index forloop.counter %}     {% endcomment %}
    {% endfor %}
{% endif %}