<div class="rank {{type_1}}" type-1="{{type_1}}" type-2="{{type_2}}" data="{{data}}">
    <div class="expand-label"></div>
    <div class="name-container">
        <span class="number">#{{position}}</span>
        <span class="name">{{name}}</span>
        {{move_str|safe}}
    </div>
    <div class="rating-container">
        <div class="rating score-rating">{{score}}</div>
        <div class="clear"></div>
    </div>
    <div class="details">
        {% include "ranking_details.html" %}
    </div>
    
</div>
    