{% load ranking_tags %}
<div class="rankings-container clear detail-tabs-on">
    <div class="rank {{p|type1}}" type-1="{{p|type1}}" type-2="{{p|type2}}" data="{{p}}" _="on click toggle .selected on me then toggle .active on #detail-{{ranking.position}}">
        <div class="expand-label"></div>
        <div class="name-container">
            <span class="number">#{{ranking.position}}</span>
            <span class="name">{{ranking.speciesName}}</span>
            {{ranking.moveset|move_str|safe}}
        </div>
        <div class="rating-container">
            <div class="rating score-rating">{{ranking.score}}</div>
            <div class="clear"></div>
        </div>
        <div class="details page" id="detail-{{ranking.position}}">
            {% include "tab_matchups.html"%}
            {% include "tab_stats.html"%}
            {% include "tab_moves.html"%}
            <div class="clear"></div>
            {% include "tab_misc.html"%}
        </div>
        
        <div class="details tabs">
            <div class="detail-section detail-tab-nav" id="tabs" hx-target="#tabs-contents" hx-vals="{'ranking': {{ranking}}}" _="on htmx:afterOnLoad take .active for event.target">
                <a class="tab-moves active" hx-get="{% url "tab" "matchups"%}"><span class="icon"></span>Matchups</a>
                <a class="tab-moves" hx-get="{% url "tab" "moves"%}"><span class="icon"></span>Moves</a>
                <a class="tab-stats" hx-get="{% url "tab" "stats"%}"><span class="icon"></span>Stats</a>
                <a class="tab-moves" hx-get="{% url "tab" "misc"%}"><span class="icon"></span>Misc</a>
            </div>
            <div id="tab-contents" hx-target="#tab-contents" hx-get="/tab/matchups" hx-swap="outerHTML" hx-trigger="load" class="detail-tab-on"></div>
        </div>
    </div> 
</div>       