
<div class="detail-tab active" tab="matchups">
    <div class="detail-section float margin">
        <div class="ranking-header">Key Wins</div>
        <div class="ranking-header right">Battle Rating</div>
        <div class="matchups clear">
            {% for matchup in ranking.matchups %}
                {% include "matchup_ranking_item.html" with num=forloop.counter opponent=matchup.opponent rating=matchup.rating %}
            {% endfor %}
        </div>
    </div>
    <div class="detail-section float">
        <div class="ranking-header">Key Losses</div>
        <div class="ranking-header right">Battle Rating</div>
        <div class="counters clear">
            {% for c in ranking.counters %}
                {% include "matchup_ranking_item.html" with num=forloop.counter opponent=c.opponent rating=c.rating %}
            {% endfor %}
        </div>
    </div>

    <div class="multi-battle-link"><p>See all of <b class="name">{{ranking.speciesName}}</b> matchups:</p>
        <a class="button" href="#">Pokemon vs. Great League</a>
    </div>
</div>
