<div class="detail-tab active" tab="matchups">
    <div class="detail-section float margin">
        <div class="ranking-header">Key Wins</div>
        <div class="ranking-header right">Battle Rating</div>
        <div class="matchups clear"></div>
    </div>
    <div class="detail-section float">
        <div class="ranking-header">Key Losses</div>
        <div class="ranking-header right">Battle Rating</div>
        <div class="counters clear"></div>
    </div>

    <div class="multi-battle-link"><p>See all of <b class="name"></b> matchups:</p><a target="_blank" class="button" href="#">Pokemon vs. Great League</a></div>
</div><!-- end tab matchups-->