<div class="detail-tab" tab="misc">
    <div class="detail-section typing">
        <div class="rating-container">
            <div class="ranking-header">Primary Type</div>
            <div class="type"></div>
        </div>
        <div class="rating-container">
            <div class="ranking-header">Secondary Type</div>
            <div class="type"></div>
        </div>
    </div>
    <div class="detail-section float margin">
        <div class="ranking-header">Weaknesses</div>
        <div class="weaknesses clear"></div>
    </div>
    <div class="detail-section float">
        <div class="ranking-header">Resistances</div>
        <div class="resistances clear"></div>
    </div>
    <div class="clear"></div>
    <div class="detail-section float margin">
        <div class="ranking-header">Buddy Distance</div>
        <div class="buddy-distance clear"></div>
    </div>
    <div class="detail-section float">
        <div class="ranking-header">Charged Move Cost</div>
        <div class="third-move-cost clear"></div>
    </div>
    <div class="detail-section partner-pokemon">
        <div class="ranking-header">Suggested Teammates</div>
        <div class="footnote">
            Get a quick start to team building with these Pokemon:
        </div>
        <div class="list"></div>
    </div>
    <div class="clear"></div>
    <div class="detail-section similar-pokemon">
        <div class="ranking-header">Similar Pokemon</div>
        <div class="list"></div>
    </div>
</div><!--end tab misc-->