<div class="detail-tab" tab="stats">
    <div class="detail-section performance float margin">
        <div class="ranking-header">Performance</div>
        <div class="hexagon-container">
            <div class="chart-label">
                <div class="value">0</div>
                <div class="label">Lead</div>
            </div>
            <div class="chart-label">
                <div class="value">0</div>
                <div class="label">Closer</div>
            </div>
            <div class="chart-label">
                <div class="value">0</div>
                <div class="label">Switch</div>
            </div>
            <div class="chart-label">
                <div class="value">0</div>
                <div class="label">Charger</div>
            </div>
            <div class="chart-label">
                <div class="value">0</div>
                <div class="label">Attacker</div>
            </div>
            <div class="chart-label">
                <div class="value">0</div>
                <div class="label">Consistency</div>
            </div>
            <canvas class="hexagon"></canvas>
        </div>

    </div>
    <div class="detail-section poke-stats float">
        <div class="ranking-header">Stats</div>
        <div class="stat-details clear">
            <div class="stat-row">
                <div class="label">Attack</div>
                <div class="value">0</div>
                <div class="bar-container">
                    <div class="bar"></div>
                    <div class="bar shadow"></div>
                    <div class="shadow-mult">+20%</div>
                </div>
            </div>
            <div class="stat-row">
                <div class="label">Defense</div>
                <div class="value">0</div>
                <div class="bar-container">
                    <div class="bar"></div>
                    <div class="bar shadow"></div>
                    <div class="shadow-mult">-20%</div>
                </div>
            </div>
            <div class="stat-row">
                <div class="label">Stamina</div>
                <div class="value">0</div>
                <div class="bar-container">
                    <div class="bar"></div>
                </div>
            </div>
            <div class="stat-row overall">
                <div class="label">Overall</div>
                <div class="value">0</div>
                <div class="bar-container">
                    <div class="bar"></div>
                </div>
            </div>
            <div class="stat-row level">
                <div class="label">Level</div>
                <div class="value">0</div>
            </div>
            <div class="stat-row rank-1">
                <div class="label">Rank 1</div>
                <div class="value">0</div>
            </div>
            <div class="stat-row xl-info-container">
                <div class="label"><div class="icon"></div></div>
                <div class="xl-info regular hide">No Candy XL required.</div>
                <div class="xl-info mixed hide">Candy XL recommended but not required.</div>
                <div class="xl-info xl hide">Candy XL strongly recommended.</div>
                <div class="xl-info unavailable hide">Candy XL not readily available yet for this Pokemon.</div>
                <div class="xl-info xs hide">This entry respresents this Pokemon without the use of Candy XL.</div>
            </div>
        </div>
    </div>
    <div class="detail-section traits-container">
        <div class="ranking-header">Traits <a href="#" class="trait-info">?</a></div>
        <div class="traits"></div>
    </div>
</div><!-- end tab stats-->